<div>
    <p class="to_account">Sign in to your account</p>
    <form >
        <div>
            <div >
                <div class="contactForm_pdca ">
                    <div class="incont">
                        <input type="password" id="NewPassword" value="" name="NewPassword"  required placeholder=" " [(ngModel)]="NewPassword">
                        <label for="NewPassword">New Password</label>
                    </div>
                 </div>
            </div>
            <div >
                <div class="contactForm_pdca ">
                    <div class="incont">
                        <input type="password" id="confirmpassword" value="" name="confirmpassword" required  placeholder=" " [(ngModel)]="confirmpassword">
                        <label for="confirmpassword">Confirm Password</label>
                     </div>
                 </div>
            </div>
         <div  style="display: flex;flex-direction: row;flex-wrap: wrap;">
           <div  style="display: inline-block;width: 50%;">
        </div>
         <div  class="sb_buttion"><button (click)="ResetPassword()">Reset Password</button></div>
        </div>
     </div>

    </form>
    
</div>
