<!-- <input type="file" (change)="updatedatafromcoversheet($event)" multiple="false" /> -->
<form [formGroup]="_obfservices.ObfCreateForm">
<mat-accordion class="example-headers-align"> 
 <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
  <mat-expansion-panel-header>
  <mat-panel-title>
    Upload Documents
  </mat-panel-title>
  
</mat-expansion-panel-header>
<div style="display: block;float: left;width:100%;">
<div style="width:25%;margin-right:15px;float: left;">
<ngx-dropzone (change)="onSelect($event,'coversheet')" accept=".xlsx">
	<ngx-dropzone-label>Drop OBFSheet</ngx-dropzone-label>
	<ngx-dropzone-preview *ngFor="let f of coversheetfiles" [removable]="true" (removed)="onRemove(coversheetfiles,f)">
		<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
	</ngx-dropzone-preview>
    
</ngx-dropzone>
<input [disabled]="!(coversheetfiles.length >0)" class="btn btn-primary" (click)="uploadfiles(coversheetfiles,'coversheet')" type="button" value="Upload"/>
</div>
<div style="width:25%;margin-right:15px;float: left;">
<ngx-dropzone (change)="onSelect($event,'loipo')" accept=".xlsx" [disabled]="loiopdisabled">
	<ngx-dropzone-label>Drop LOI/PO Agreement</ngx-dropzone-label>
	<ngx-dropzone-preview *ngFor="let f of loipofiles" [removable]="true" (removed)="onRemove(loipofiles,f)">
		<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
	</ngx-dropzone-preview>
    
</ngx-dropzone>
<select formControlName="Loipodropdown">
    <option value="PO" selected>PO</option>
    <option value="LOI">LOI</option>
</select>
<input type="checkbox" formControlName="Selfdeclare" name="selfdec" value="selfdeclared" (change)="onCheckboxChange($event)" id="selfdec" value="self" />
<label for="selfdec">This OBF is without LOI / PO </label><br>
 <input type="button" [disabled]="!(loipofiles.length >0)" class="btn btn-primary" (click)="uploadfiles(loipofiles,'loipo')" value="Upload"/> 
</div>
<div style="width:25%;margin-right:15px;float: left;">
<ngx-dropzone (change)="onSelect($event,'support')" accept=".xlsx">
	<ngx-dropzone-label>Drop Supporting documents</ngx-dropzone-label>
	<ngx-dropzone-preview *ngFor="let f of supportfiles" [removable]="true" (removed)="onRemove(supportfiles,f)">
		<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
	</ngx-dropzone-preview>
    
</ngx-dropzone>
 <input type="button" [disabled]="!(supportfiles.length >0)" class="btn btn-primary" (click)="uploadfiles(supportfiles,'support')" value="Upload"/> 
</div>
<div>
    <input type="text" placeholder="Enter Comment" style="height:180px;" formControlName="comments" />
    
</div>
</div>

<div style="display: block;float: left;width:77%;" *ngIf="progress > 0">
    <!-- <div style="display: block;float: left;background: red;height:5px;text-align: center;color: red;"  role="progressbar" [style.width.%]="progress">
        {{progress}}%
    </div> -->
    <div *ngFor="let progressInfo of progressInfos" class="mb-2">
        <span>{{ progressInfo.fileName }}</span>
        <div class="progress">
          <div
            class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar"
            attr.aria-valuenow="{{ progressInfo.value }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: progressInfo.value + '%' }"
          >
            {{ progressInfo.value }}%
          </div>
        </div>
      </div>
</div>
<div *ngIf="message.length" class="alert alert-secondary my-3" role="alert">
  <ul *ngFor="let msg of message; let i = index">
    <li>{{ msg }}</li>
  </ul>
</div>
<div style="display: block;float: left;width:100%;">
    <input type="button" class="btn btn-primary" style="margin-right:5px;" [disabled]="_obfservices.ObfCreateForm.invalid" (click)="Saveasdraft()" value="Save as Draft"/>
    <!-- <input type="button" (click)="Prview()" class="btn btn-primary" [disabled]="_obfservices.ObfCreateForm.invalid" value="Preview & Submit"/> -->
</div>
<div style="display: block;float: left;width:100%;">
    <a [href]="sanitize(coversheetpath)" target="_blank"   style="margin-right:10px;">Download Coversheet</a>
    <a [href]="sanitize(loipopath)" target="_blank">Download Loi Po </a>
</div>
<mat-action-row>
  <button mat-button class="btn btn-primary" [disabled]="_obfservices.ObfCreateForm.invalid" (click)="nextStep('details')">Next</button>
</mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Enter Details
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div style="display: block;float: left;width:100%;">
  
  <mat-form-field appearance="fill">
    <mat-label>Select solution category</mat-label>
  <mat-select (selectionChange)="onchange($event)">
    <mat-option *ngFor="let Solution of Solutiongroup" [value]="Solution.Solutioncategory"  >
      {{Solution.Solutioncategory}}
    </mat-option>
  </mat-select>
</mat-form-field>

 <mat-form-field appearance="fill">
    <mat-label>Select type of service/solution category</mat-label>
    <!-- <mat-select  multiple (selectionChange)="onotherserviceschange($event)"> -->
      <mat-select  multiple >
      <mat-option>-- None --</mat-option>
      <mat-optgroup *ngFor="let group of Solutionservicesarray" [label]="group.Solutioncategory"
                    >
        <mat-option *ngFor="let list of group.Serviceslist" (onSelectionChange)="onotherservicesoptionchange($event,group.Solutioncategory)" [value]="list.value">
          {{list.viewValue}} 
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <input type="text" formControlName="otherservices" style="margin-left: 10px;"  placeholder="Other Services" />
  <input type="text" formControlName="othersolutions" style="margin-left: 10px;" placeholder="Other Solutions" />
  <input type="text" formControlName="otherintegratedsolutions" style="margin-left: 10px;" placeholder="Other Integrated Solutions" />
  <div style="width:100%;float:left;display:block;">
    <label>Vertical : </label>{{_obfservices.ObfCreateForm.get('Vertical').value}}
    <mat-form-field appearance="fill">
      <mat-label>Select Sector</mat-label>
    <mat-select (selectionChange)="onsectorchange($event)">
      <mat-option *ngFor="let Sector of Sectorgrouparray" [value]="Sector.value"  >
        {{Sector.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select Sub Sector</mat-label>
  <mat-select>
    <mat-option *ngFor="let Subsector of Subsecotarray" [value]="Subsector.value"  >
      {{Subsector.value}}
    </mat-option>
  </mat-select>
</mat-form-field>
  </div>
  </div>
  <mat-action-row>
    <button mat-button class="btn btn-primary" color="warn" (click)="prevStep('details')">Previous</button>
    <button mat-button class="btn btn-primary" color="primary" [disabled]="_obfservices.ObfCreateForm.invalid" (click)="nextStep('preview')">Next</button>
  </mat-action-row>
</mat-expansion-panel>
</mat-accordion>
</form>
<div >
    <ng-template #callAPIDialog>
 
<!--         
            <mat-table #table [dataSource]="ProjectDetails" matSort>
             
                <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
                 
                <div>
                  <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
                  <mat-cell  *matCellDef="let row">{{ column.cell(row) }}</mat-cell>
                </div>
                  
                </ng-container>
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table> -->
              <div style="display:block;float:left;width:100%;background: #4e65d796;">
                <span><label>Project Name</label>{{OBFData.Projectname}}</span>
                <span><label>Project Type</label>{{OBFData.Projecttype}}</span>
                <span><label>Opportunity Id</label>{{OBFData.Opportunityid}}</span>
                <span><label>Location / State</label>{{OBFData.State}}</span>
                <span><label>Vertical</label>{{OBFData.Vertical}}</span>
                <span><label>Vertical Head</label>{{OBFData.Verticalhead}}</span>
                <span><label>Created on</label>{{OBFData.Createddate}}</span>
                <span><label>SAP IO number</label>{{OBFData.Sapio}}</span>
                <span><label>Customer Name</label>{{OBFData.Customername}}</span>
                <span><label>SAP Customer Code</label>{{OBFData.Sapcustomercode}}</span>
                <span><label>Project Primary Location</label>{{OBFData.Projectprimarylocation}}</span>
                <span><label>Service/Solution/Integrated Solution type </label>{{OBFData.Solutiontype}}</span>
            </div>
            <div style="display:block;float:left;width:100%;background: #b6b6b896;">
                <span><label>Total Revenue (Cr)</label>{{OBFData.Totalrevenue}}</span>
                <span><label>Total Cost (Cr)</label>{{OBFData.Totalcost}}</span>
                <span><label>Total Margin</label>{{OBFData.Totalmargin}}</span>
                <span><label>Total Project Life</label>{{OBFData.Totalprojectlife}}</span>
                <span><label>EBT %</label>{{OBFData.EBT}}</span>
                <span><label>Capex Cr</label>{{OBFData.Capex}}</span>
                <span><label>IIR % Surplus Cash</label>{{OBFData.IRRsurpluscash}}</span>
                <span><label>IIR % Borrowed Fund</label>{{OBFData.IRRborrowedfund}}</span>
                <span><label>Payment Terms</label>{{OBFData.Paymentterms}}</span>
            </div>
              <div>Project Date:{{OBFData.Projectdate}}</div>
              <div>Project Brief:{{OBFData.Projectbrief}} </div>
              <div>Assumption & Risk:{{OBFData.Assumptionrisks}} </div>
              <div>LOI/Po:{{OBFData.Loipo}}</div>
              <div>
                <input type="text" placeholder="Enter Comment" style="height:180px;" [value]="OBFData.comments"/>
                </div>
                <div>
                    <div  class="sb_buttion" (click)="EditOBF()"><button>Edit</button></div>
                    <div  class="sb_buttion"><button>Submit</button></div>
                </div>
        
    </ng-template>
    
 
    </div>
<!-- <table>
    <tbody>
        <tr *ngFor="let row of data">
                <td *ngFor="let cell of row">
                        {{cell}}
                </td>
        </tr>
    </tbody>
</table> -->
